
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

/* Body */
body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--secondary-color);
  height: 100vh;
  transition: 0.3s;
}

/* CSS Variables */
:root {
  --primary-color: #091F34;
  --primary-second: #00376B;
  --footer-end-color: #00305c;
  --accent-color: #F37F02;
  --text-font-color: #c9c8c8;
  --text-white: #FFFFFF;
  --logo-orange: #F55F1D;
}
.link, .top-link {
  text-decoration: none;
  color: var(--text-white);
}
.header-link {
  text-decoration: none;
  color: var(--primary-second);
}
.active, .link:hover, .header-link:hover {
  /* opacity: 0.7; */
  color: var(--accent-color);
}




/* ------ */
/* Navigation Section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

/* .nav-tag {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.nav-tag-span {
  color: var(--accent-color);
} */
.nav-menu {
  width: 31%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  font-size: 14px;
}
/* .nav-menu-item {

} */
.nav-menu-btn {
  height: 45px;
  width: 166px;
  border-radius: 8px;
  padding: 9px 10px;
  background: var(--text-white);
  color: var(--primary-second);
  font-weight: 500;
  font-size: 16px;
  border-style: none;
}

 /* Hamburger  */
 .bar-container {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 10px;
  background-color: var(--text-white);
  margin: 5px 0;
  transition: 0.4s;
}

/* Header */
header {
  /* border: 1px solid red; */
  height: 42rem;
  background: url('../images/about-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  padding: 35px 121px;
  color: var(--text-white);
}
.header-tag-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 35rem;
}
.header-tag1 {
  font-weight: 500;
  font-size: 1rem;
  color: #B8B6B6;
}
.header-tag2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 62px;
}
.header-tag2-span {
  color: var(--accent-color);
}
.header-tag-arrow-container {
  margin-top: 87px;
}
/* .header-tag-arrow {

} */


/* About section */
.about-container {
  padding: 119px 121px;
  background: var(--text-white);
  height: 97rem;
  position: relative;
}
.about-grid {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15rem 15rem 20rem 12rem 12rem 12rem;
  /* column-gap: 20px; */
}
/* .about-grid-item {
  border: 1px solid black;
} */
.item1 {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  
}
.item2 {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 11rem;
}
.item3 {
  grid-row: 4 / 7;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  padding: 50px 80px 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item3-inner {
  height: 8rem;
  width: 70%;
}
.item3-inner h2 {
  font-weight: 700;
  font-size: 2rem;
  color: var(--primary-color);
  text-transform: capitalize;
}
.item3-inner p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 1rem;
  color: #666666;
  line-height: 24px;
}
.item4 {
  grid-row: 3 / 7;
  grid-column: 2 / 3;
  
}
.about-item1-tag1 {
  font-weight: 500;
  font-size: 1rem;
  color: var(--accent-color);
}
.about-item1-tag2 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 42px;
  margin: 20px 0;
}
.about-item1-tag2-span {
  color: var(--accent-color);
}
.about-item1-img2 {
  height: 38rem;
  margin-top: 45px;
}
.about-item4-img {
  position: relative;
  z-index: 800;
}
.blue-dot1, .blue-dot2, .blue-dot3, .blue-dot4, .blue-dot5 {
  position: absolute;
}
.blue-dot1 {
    top: -17px;
    left: 155px;
    height: 8rem;
    transform: rotateZ(90deg);

}
.blue-dot2 {
  top: 15px;
  right: 0;
  height: 8rem;
}
.blue-dot3 {
  top: 540px;
  left: 617px;
  height: 8rem;
}
.blue-dot4 {
  top: 540px;
  left: 687px;
  height: 8rem;
}
.blue-dot5 {
  top: 540px;
  left: 756px;
  height: 8rem;
}
.orange-border {
  position: absolute;
  bottom: 29%;
  right: 14%;
  height: 10rem;
  width: 12%;
  border: 10px solid var(--accent-color);
  border-radius: 26px;
  transform: rotateZ(51deg);
  z-index: 999;
}
.blue-box {
  height: 8rem;
  width: 9%;
  border-radius: 16px;
  background: var(--primary-second);
  position: absolute;
  top: 40rem;
  left: 51px;
}



/* Mission section */
.mission-container {
  background: linear-gradient(180deg, #F7F7FC 0%, rgba(247, 247, 252, 0.763023) 59.65%, #FFFFFF 100%);;
  height: 50rem;
  padding: 70px 121px;
}
.mission-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  /* border: 1px solid black; */
  height: 40rem;
}
.mission-img {
  height: 40rem;
}
.mission-grid-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.mission-grid-right-item {
  width: 73%;
}
/* .mission-grid-right-img {

} */
.mission-grid-right-tag {
  font-weight: 700;
  font-size: 2rem;
  color: var(--primary-color);
  text-transform: capitalize;
}
.mission-grid-right-paragraph {
  margin-top: 10px;
  font-weight: 400;
  font-size: 1rem;
  color: #666666;
  line-height: 24px;
}











/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* Mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
   
  .nav-menu {
      display: none;
 }
 header {
    padding: 35px 21px;
    background: url('../images/m-about-1.jpg');
 }
 .nav-img {
      height: 3rem;
 }
 .header-tag-container {
  height: 32.5rem;
 }
 .header-inner-container {
  height: 19rem;
 }
 .header-tag-arrow {
  height: 5.5rem;
 }
 .header-tag-btn, .about-btn, .service-btn {
  margin-top: 67px;
  width: 168px;
  height: 48px;
 }
 .header-tag1 {
    font-size: 0.9rem;
 }
 .header-tag2 {
      font-weight: 700;
      font-size: 1.99rem;
      line-height: 37px;
      margin-top: 9px;
  }
  .header-tag2 br {
    display: none;
  }

   .nav-menu {
      display: block;
      position: fixed;
      left: -100%;
      top: 5.3rem;
      flex-direction: column;
      width: 100%;
      height: 35rem;
      transition: 0.3s;
      background-color: var(--text-white);
      box-shadow: 0 10px 27px rgba(156, 149, 149, 0.05);
      /* text-align: ce; */
  }
  .nav-menu.active {
      left: 0;
      padding: 32px 20px;
  }
  .nav-menu-item {
      padding: 10px;
      font-size: 24px;
  }
  .nav-menu-btn {
      border-style: none;
      font-size: 24px;
      padding: 10px;
      color:  var(--primary-color);
      width: 100%;
      text-align: left;
  }
  .menu-link {
      color: var(--primary-color);
  }
  .menu-link:hover {
      color: var(--accent-color);
      font-size: 27px;
  }
  .bar-container {
      display: block;
      cursor: pointer;
      margin-block-start: 0;
      /* margin-right: 1.2rem; */
      padding: 7px 12px;
      height: 42px;
      width: 48px;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.2);;
  }
  .bar-container:hover, .bar-container:focus {
      /* border: 1px solid var(--primary-color); */
      border-radius: 4px;
  }
  .bar {
      background-color: var(--text-white);
  }
  .bar-container.active .bar:nth-child(2) {
      opacity: 0;
  }
  .bar-container.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }
  .bar-container.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }




  /* About section */
 .about-container {
      padding: 5rem 21px;
      display: block;
      height: 120rem;
      position: relative;
 }
 
 .about-grid {
    display: flex;
    flex-direction: column;
 }
 .item1 br {
  display: none;
}
 .about-item1-tag1 {
    font-size: 0.9rem;
 }
 .about-item1-tag2 {
    font-size: 1.6rem;
    line-height: 30px;
    margin: 6px 0;
 }
.item2 {
  position: absolute;
  top: 9.9%;
  padding: 0;
  width: 90%;
}
.item3 {
  position: absolute;
  bottom: 5%;
  height: 28rem;
  padding: 0;
}
.about-item1-img2 {
  position: absolute;
  top: 25%;
  left: 0;
  height: 22rem;
}
.about-item4-img {
  position: absolute;
  top: 48%;
  right: 0;
  height: 24rem;
}
.item3-inner {
  height: 7rem;
  width: 91%;
}
.item3-inner h2 {
  font-size: 1.6rem;
}


 /*  */
  .blue-dot1, .blue-dot2, .blue-dot3,
  .blue-dot4, .blue-dot5 {
      display: none;
  }
  .about-image {
      height: 26rem;
      right: 1rem;
  }
  .orange-border {
      width: 32%;
      height: 7rem;
      bottom: 38%;
      right: 56%;
      border: 8px solid var(--accent-color);
      border-radius: 22px;

  }
  .blue-box {
      width: 27%;
      height: 6rem;
      top: 38%;
      left: 62%;
  }
  

  /* Mission section */
  .mission-container {
    padding: 57px 21px;
    height: 43rem;
    /* border: 1px solid black; */
  }
  .mission-grid {
    display: flex;
    flex-direction: column;
    height: 40rem;
  }
  .mission-img {
    display: none;
  }
  .mission-grid-right-tag {
    font-size: 1.6rem;
  }
  .mission-grid-right-item {
    width: 96%;
  }
  .mission-grid-right {
    justify-content: space-between;
    height: 35rem;
  }

}


/* ------------------------------------ */
/*  Tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header, .about-container, .mission-container {
    padding: 35px 42px;
  }
  header {
    height: 38rem;
  }

  .nav-img {
    height: 3rem;
  }
  .nav-menu {
    width: 42%;
    font-size: 13.5px;
  }
  .nav-menu-btn {
    height: 37px;
    width: 109px;
    font-size: 14px;
  }
  .header-tag2 {
    font-size: 2.5rem;
    line-height: 42px;
    margin-top: 13px;
  }
  .header-tag-arrow {
    height: 6rem;
  }

  /* About */
  .about-container  {
    height: 75rem;
    padding: 62px 42px;
  }
  .blue-dot1 {
    height: 4rem;
    top: -1%;
    left: 8%;
  }
  .blue-dot2 {
    top: 1%;
    height: 4rem;
  }
  .blue-dot3, .blue-dot4, .blue-dot5 {
    top: 38%;
    height: 5rem;
  }
  .blue-dot3 {
    left: 48%;
  }
  .blue-dot4 {
    left: 53.5%;
  }
  .blue-dot5 {
    left: 59.5%;
  }
  .about-grid {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 13rem 13rem 12rem 8rem 10rem 9rem;
    column-gap: 20px;
}
.about-item1-tag1 {
  font-size: 0.9rem;
}
.about-item1-tag2 {
  font-size: 1.5rem;
  line-height: 33px;
  margin: 7px 0;
}
.about-item1-img2 {
  height: 24rem;
  margin-top: 45px;
}
.item2 {
  font-size: 0.9rem;
  line-height: 24px;
  padding: 0 4px;
}
.item3 {
  height: 27rem;
  padding: 0;
}
.item3-inner {
  height: 8rem;
  width: 89%;
}
.item3-inner h2 {
  font-size: 1.5rem;
}
.item3-inner p {
  font-size: 0.9rem;
  line-height: 22px;
}
.about-item4-img {
  height: 29rem;
}
.blue-box {
  height: 6rem;
  width: 11%;
  top: 34%;
  left: 0;
}
.orange-border {
  bottom: 34%;
  right: 1%;
  height: 6rem;
  width: 14%;
  border: 7px solid var(--accent-color);
  border-radius: 26px;
}

/* Mission section */
.mission-container {
  height: 38rem;
  padding: 61px 42px;
  height: 37rem;
}
.mission-grid {
  height: 26rem;
  grid-column-gap: 32px;
}
.mission-grid-right-item {
  width: 94%;
}
.mission-img {
  height: 28rem;
}
.mission-grid-right-img {
  /* height: 2rem; */
}
.mission-grid-right-tag {
  font-size: 27px;
}
.mission-grid-right-paragraph {
  font-size: 14px;
  line-height: 18px;
}


}


/* ----------------------- */
/* Laptop */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  
  header {
    height: 41rem;
    padding: 35px 103px;
  }

  .nav-img {
    height: 3rem;
  }
  .nav-menu {
    width: 42%;
    font-size: 13.5px;
  }
  .nav-menu-btn {
    height: 37px;
    width: 109px;
    font-size: 14px;
  }
  .header-tag1 {
    font-size: 14px;
  }
  .header-tag2 {
    font-size: 2.5rem;
    line-height: 42px;
    margin-top: 13px;
  }
  .header-tag-arrow {
    height: 6rem;
  }

  /* About */
  .about-container  {
    height: 75rem;
    padding: 62px 103px;
  }
  .blue-dot1 {
    height: 4rem;
    top: -1%;
    left: 8%;
  }
  .blue-dot2 {
    top: 1%;
    height: 4rem;
  }
  .blue-dot3, .blue-dot4, .blue-dot5 {
    top: 38%;
    height: 5rem;
  }
  .blue-dot3 {
    left: 48%;
  }
  .blue-dot4 {
    left: 52.5%;
  }
  .blue-dot5 {
    left: 56%;
  }
  .about-grid {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 13rem 13rem 12rem 8rem 10rem 9rem;
    column-gap: 20px;
}
.about-item1-tag1 {
  font-size: 0.9rem;
}
.about-item1-tag2 {
  font-size: 1.5rem;
  line-height: 33px;
  margin: 7px 0;
}
.about-item1-img2 {
  height: 24rem;
  margin-top: 45px;
}
.item2 {
  font-size: 0.9rem;
  line-height: 24px;
  padding-right: 94px;
}
.item3 {
  height: 27rem;
  padding: 0;
}
.item3-inner {
  height: 8rem;
  width: 89%;
}
.item3-inner h2 {
  font-size: 1.5rem;
}
.item3-inner p {
  font-size: 0.9rem;
  line-height: 22px;
}
.about-item4-img {
  height: 29rem;
}
.blue-box {
  height: 6rem;
  width: 10%;
  top: 34%;
  left: 5%;
}
.orange-border {
  bottom: 34%;
  right: 13%;
  height: 6rem;
  width: 11%;
  border: 9px solid var(--accent-color);
  border-radius: 26px;
}

/* Mission section */
.mission-container {
  height: 38rem;
  padding: 61px 103px;
  height: 37rem;
}
.mission-grid {
  height: 26rem;
  grid-column-gap: 32px;
}
.mission-grid-right-item {
  width: 77%;
}
.mission-img {
  height: 28rem;
}
.mission-grid-right-img {
  /* height: 2rem; */
}
.mission-grid-right-tag {
  font-size: 27px;
}
.mission-grid-right-paragraph {
  font-size: 14px;
  line-height: 18px;
}

 
}





