@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

/* Body */
body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--secondary-color);
  height: 100vh;
  
}

/* CSS Variables */
:root {
  --primary-color: #091F34;
  --primary-second: #00376B;
  --footer-end-color: #00305c;
  --accent-color: #F37F02;
  --text-font-color: #c9c8c8;
  --text-white: #FFFFFF;
  --logo-orange: #F55F1D;
}
.link {
  text-decoration: none;
  color: var(--text-white);
}
.header-link {
  text-decoration: none;
  color: var(--primary-second);
}
.link:hover, .header-link:hover {
  /* opacity: 0.7; */
  color: var(--accent-color);
}




/* ------ */
/* Navigation Section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}
/* .nav-tag {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.nav-tag-span {
  color: var(--accent-color);
} */
.nav-menu {
  width: 31%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  font-size: 14px;
}
/* .nav-menu-item {

} */
.nav-menu-btn {
  height: 45px;
  width: 166px;
  border-radius: 8px;
  padding: 9px 10px;
  background: var(--text-white);
  color: var(--primary-second);
  font-weight: 500;
  font-size: 16px;
  border-style: none;
}

/* Header */
header {
  /* border: 1px solid red; */
  height: 42rem;
  background: url('../images/contact-img.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  padding: 35px 121px;
  color: var(--text-white);
}
.header-tag-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 36rem;
}
.header-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-tag1 {
  font-weight: 500;
  font-size: 1rem;
  color: #B8B6B6;
  height: 2rem;
}
.header-tag2 {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 53px;
  height: 10rem;
}
.header-tag2-span {
  color: var(--accent-color);
}
.header-icon-container {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 33%;
}
/* .header-tag-arrow-container {
 
} */
/* .header-tag-arrow {

} */



/* Contact Section */
.contact-container {
    background-color: var(--text-white);
    height: 75rem;
    padding: 87px 121px;
}
.contact-map-container {
    height: 32rem;
}
.contact-tag1 {
    font-size: 16px;
    font-weight: 500;
    color: var(--accent-color);
}
.contact-tag2 {
    font-size: 34px;
    font-weight: 600;
    margin-top: 10px;
    color: var(--primary-color);
}
.contact-map {
    background: #c9c8c8;
    height: 24rem;
    width: 100%;
    border-radius: 12px;
    margin-top: 18px;
}
.map {
    border-radius: 12px;
    height: 24rem;
    width: 100%;
}

/* form */
.contact-form-container {
    height: 33rem;
}
/* form {
    margin-top: 2rem;
} */
.form-tag {
    font-weight: 600;
    font-size: 24px;
    color: var(--primary-color);
}
.form-layer1, .form-layer2, .form-layer3 {
    margin-top: 2rem;
}
label {
    color: #A6A6A6;
    font-size: 1rem;
    font-weight: 400;
}
input {
    outline: 1px solid #A6A6A6;
    border-radius: 8px;
    height: 56px;
}
.form-layer1 {
    position: relative;   
} 
.layer1-email {
    width: 49%;
}   
.email-input {
    width: 100%;
}
.layer1-pnumber {
    width: 49%;
    position: absolute;
    top: 1px;
    right: 4px;
}
.pnumber-input {
    width: 100%;
}
.name-input {
    width: 100%;
}
.msg-input {
    width: 100%;
}
.form-btn {
    width: 191px;
    height: 52px;
    border-radius: 8px;
    padding: 18px 38px;
    background: var(--accent-color);
    border-style: none;
    margin-top: 30px;
    color: var(--text-white);
}


/* Footer */
footer {
    height: 38rem;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    color: var(--text-white);
}
.footer-container {
    padding: 86px 121px;
    background: var(--primary-second);
}
.footer-link-container {
    /* border: 1px solid white; */
    display: flex;
    height: 25rem;
}
.footer-flex-item {
    /* border: 1px solid white; */
    width: 28%;
    
}
.flex-item-tag {
    font-weight: 700;
    font-size: 27px;
}
.q-link {
    width: 23%;
}
.footer-flex-link-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: space-between;
    height: 10rem;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0.6px;
}
.footer-flex-link-container span {
    height: 2rem;
}
.footer-contact-info {
    margin-bottom: 15px;
    font-size: 22px;
}
.footer-socials-container {
    background: var(--footer-end-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 121px;
    height: 70px;
}
.footer-social-icons {
    text-align-last: justify;
    width: 13%;
}
.flex-address {
    height: 13rem;
}
.footer-address a, .footer-telephone a {
    text-decoration: none;
    color: white;
}
.footer-address a:hover , .footer-telephone a:hover {
    text-decoration: underline;
    opacity: 0.7;
}


/* Navigation
nav {
    margin-top: 0.5rem;   
}
nav a:hover {
    opacity: 0.8;
}
.logo {
    margin-left: -2.4rem;
    height: 4rem;
}

Form Grid container
.form-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    min-height: 49vh;
}
Title section

.title-container p {
    font-size: 4rem;
    margin-top: 0;
    color: rgb(165, 112, 42);
}

form-container
.form-container {
    background-color: rgba(80, 80, 90, 0.375);
    border-radius: 12px;
    padding: 0 1.5rem;
    padding-bottom: 3rem;
    

}
form {
    display: flex;
    flex-direction: column;
}
input, textarea {
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border-style: none;
    background-color: rgba(239, 239, 240, 0.829);
}
.form-paragraph {
    margin-top: 2.2rem;
    margin-block-end: 0.3rem;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.form-paragraph span {
    font-size: 0.6rem;
    color: #e32;
}

.btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    border-color: white;
    border-style: none;
    background-color: rgb(165, 112, 42);
    color: var(--primary-color);
    box-shadow: 2px 2px 2px 0px rgb(0, 0, 0, 0.75);
    width: 6rem;
}
.btn:hover {
    color: rgb(125, 160, 177);
    
}

iframe
iframe {
    visibility: hidden;
    height: 1px;
}
 */
/* Media Queries */

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
    body {
        padding: 1.6rem;
        padding-top: 0;
    }
    
    .mobile-flex {
        display: flex;
        flex-direction: column;
    }
    .title-container {
        background-color: rgb(165, 112, 42);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-block-end: 0.5rem;
        text-align: center;
    }
    .title-container p {
        font-size: 2.5rem;
        padding: 1.5rem 0.4rem;
        color: white;
        margin-bottom: 1rem;
    }
    .form-container {
        border-radius: 0;
        background-color: rgba(57, 57, 65, 0.521);
    }
}

/* Tablet  */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .title-container p {
        font-size: 3.2rem;
    }
    .form-container {
        padding: 0 1.2rem;
        padding-bottom: 2rem;
    }
}

/* Laptop */
@media screen and (min-width: 1440px) {
    .title-container p {
        font-size: 5rem;
    }
    .form-container {
        padding: 0 2.7rem;
    padding-bottom: 7rem;
    }
    .form-paragraph {
        font-size: 2rem;
    }
    input, textarea {
        padding: 0.8rem;
        font-size: 1.5rem;
        border-radius: 7px;
        border-style: none;
    }
    .btn {
        width: 7rem;
        font-size: 1.5rem;
    }
}

/*  Small desktop*/
@media screen and (min-wdth: 980px) and (max-width: 1023px) {
    
}


/*  Large desktop*/
@media screen and (min-wdth: 1200px) {
    
}
