
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@300;400;500;700;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Body */
body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--secondary-color);
    height: 100vh;
    
}

/* CSS Variables */
:root {
    --primary-color: #091F34;
    --primary-second: #00376B;
    --footer-end-color: #00305c;
    --accent-color: #F37F02;
    --text-font-color: #c9c8c8;
    --text-white: #FFFFFF;
    --logo-orange: #F55F1D;
}
.link, .btn-link, .top-link {
    text-decoration: none;
    color: var(--text-white);
    cursor: pointer;
  }
.nav-link {
    text-decoration: none;
    color: var(--primary-second);
  }
.btn-link:hover {
    opacity: 0.7;
    /* color: var(--primary-second); */
  }
.active, .link:hover, .nav-link:hover, .top-link:hover {
    /* opacity: 0.7; */
    color: var(--accent-color);
  }
  

/* ------ */
/* Navigation Section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}
/* .nav-tag {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.nav-tag-span {
    color: var(--accent-color);
} */
.nav-menu {
    width: 39%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    font-size: 14px;
}
/* .nav-menu-item {

} */
.nav-menu-btn {
    height: 45px;
    width: 166px;
    border-radius: 8px;
    padding: 9px 10px;
    background: var(--text-white);
    color: var(--primary-second);
    font-weight: 500;
    font-size: 16px;
    border-style: none;
}

 /* Hamburger  */
.bar-container {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 10px;
    background-color: var(--text-white);
    margin: 5px 0;
    transition: 0.4s;
}

/* Header */
header {
    /* border: 1px solid red; */
    height: 42rem;
    background: url('../images/home-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    padding: 35px 121px;
    color: var(--text-white);
}
.header-tag-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 35rem;
}
.header-tag {
    font-weight: 700;
    font-size: 3rem;
    line-height: 62px;
}
.header-tag-btn {
    width: 191px;
    height: 57px;
    border-radius: 8px;
    padding: 15px 50px;
    background: var(--accent-color);
    border-style: none;
    margin-top: 30px;
    color: var(--text-white);
}


/* About section */
.about-container {
    height: 43rem;
    padding: 70px 121px;
    background: var(--text-white);
    display: flex;
    position: relative;

} 
/* .about-item-right {

} */
.about-item-left {
    width: 40%;
    align-self: center;
}
.about-tag {
    font-weight: 500;
    font-size: 16px;
    color: var(--accent-color);
}
.about-tagline {
    font-weight: 700;
    font-size: 36px;
    color: var(--primary-color);
    line-height: 39px;
    margin-top: 16px;
    margin-bottom: 24px;
}
.about-paragraph {
    font-weight: 400;
    font-size: 16px;
    color: var(--text-font-color);
    line-height: 24px;

}
.about-btn {
    width: 191px;
    height: 57px;
    border-radius: 8px;
    padding: 15px 50px;
    background: var(--accent-color);
    border-style: none;
    margin-top: 30px;
    color: var(--text-white);
}

.about-blue-box, .about-orange-box {
    width: 165px;
    height: 169px;
    border-radius: 20px;
    background: var(--primary-second);
}
.about-blue-box {
    position: absolute;
    top: 59px;
    right: 656px;
}
.about-orange-box {
    background: var(--accent-color);
    width: 149px;
    position: absolute;
    top: 467px;
    right: 262px;
    z-index: 999;
}
.about-dot-blue {
    position: absolute;
    top: 12px;
    right: 0;
    height: 6rem;
}
.about-dot-orange {
    position: absolute;
    left: 119px;
    bottom: 0;
    height: 4rem;
}
.about-image {
    height: 36rem;
    position: absolute;
    right: 333px;
    bottom: 0;
}


/* Service Section */
.service-container {
    height: 62rem;
    background: var(--primary-second);
    padding: 100px 121px;
}
.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 8rem 17rem 17rem 8rem;
    grid-row-gap: 15px;
    grid-column-gap: 80px;
}
.service-tag1 {
    color: var(--logo-orange);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 4;
}
.service-tag2 {
    color: var(--text-white);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -2;
    margin-top: 7px;
}
.grid-image {
    height: 5rem;
    align-self: flex-start;
}
.grid-tag {
    color: var(--text-white);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -1;
    /* margin: 20px 0; */
    height: 2rem;
}
.grid-paragraph {
    color: var(--text-font-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    height: 7rem;
    letter-spacing: 0.8px;
}
.service-tag-container {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
.service-user {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

}
.service-web {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

}
.service-biz {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

}
.service-software {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
/* .service-emp1 {

}
.service-emp2 {

} */
.service-btn-container {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}
.service-btn {
    width: 191px;
    height: 57px;
    border-radius: 8px;
    padding: 15px 50px;
    background: var(--accent-color);
    border-style: none;
    margin-top: 30px;
    color: var(--text-white);
}
.service-user, .service-web, .service-biz,
.service-software {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Testimonial section */
.test-container {
  display: none;
    height: 36rem;
    padding: 50px 0 50px 121px;
    background-color: #F7F7FC;
}
.test-tag-container {
    display: flex;
    justify-content: space-between;
}
.test-tag1 {
    font-weight: 500;
    font-size: 18px;
    color: var(--accent-color);
}
.test-tag2 {
    font-weight: 700;
    font-size: 35px;
    color: var(--primary-color);
    text-transform: capitalize;
    margin-top: 10px;
}
.test-tag-right {
    /* border: 1px solid black; */
    width: 184px;
    height: 80px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    margin-right: 4rem;
}
.test-nav-left, .test-nav-right {
    width: 80px;
    height: 70px;
    border: 2px solid var(--primary-color);
    display: inline-block;
    border-radius: 50%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}
.test-nav-left:hover, .test-nav-right:hover {
    background-color: var(--primary-second);
    color: var(--text-white);
}
.test-nav-left:focus, .test-nav-right:focus {
    background-color: var(--primary-second);
    color: var(--text-white);
}
.test-card-slide-container {
    /* border: 1px solid black; */
    height: 20rem;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card {
    /* border: 1px solid black; */
    background: var(--text-white);
    height: 15rem;
    width: 30%;
    border-radius: 10px;
    padding: 30px;
    color: #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    
}
.card-client-info-container {
    margin-top: 20px;
    display: flex;
}
.card-client-image {
    border-radius: 50%;
}
.card-client-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}
.client-name {
    font-weight: 700;
    font-size: 18px;
}
.mobile-test-card-container {
  display: none;
 }



/* Cookie Banner Section */
.cookie-banner-container {
    background-color: rgba(83, 83, 88, 0.795);
    padding: 0.5rem 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    color: #fff;
    text-align: center;
    height: 6rem;
}
/* .cookie-paragraph {

} */
.cookie-button {
    border-radius: 5px;
    padding: 0.6rem 1.5rem;
    margin-right: 1rem;
    color: var(--accent-color);
    word-spacing: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
}
.cookie-link {
    text-decoration: none;
    color: white;
}
.cookie-link:hover {
    opacity: 0.4;
}
.cookie-button-container {
  margin-top: 10px;
}




/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* Mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
   
    .nav-menu {
        display: none;
   }
   header {
      padding: 35px 21px;
      /* background: url('../images/m-home-1.jpg'); */
      background-position: 48%;
   }
   .nav-img {
        height: 3rem;
   }
   .header-tag-container {
    height: 32.5rem;
   }
   .header-tag-btn, .about-btn, .service-btn {
    margin-top: 67px;
    width: 168px;
    height: 48px;
   }
   .header-tag {
        font-weight: 700;
        font-size: 2.6rem;
        line-height: 51px;
    }

     .nav-menu {
        display: block;
        position: fixed;
        left: -100%;
        top: 5.3rem;
        flex-direction: column;
        width: 100%;
        height: 35rem;
        transition: 0.3s;
        background-color: var(--text-white);
        box-shadow: 0 10px 27px rgba(156, 149, 149, 0.05);
        /* text-align: ce; */
    }
    .nav-menu.active {
        left: 0;
        padding: 32px 20px;
    }
    .nav-menu-item {
        padding: 10px;
        font-size: 24px;
    }
    .nav-menu-btn {
        border-style: none;
        font-size: 24px;
        padding: 10px;
        color:  var(--primary-color);
        width: 100%;
        text-align: left;
    }
    .menu-link {
        color: var(--primary-color);
    }
    .menu-link:hover {
        color: var(--accent-color);
        font-size: 27px;
    }
    .bar-container {
        display: block;
        cursor: pointer;
        margin-block-start: 0;
        /* margin-right: 1.2rem; */
        padding: 7px 12px;
        height: 42px;
        width: 48px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.2);;
    }
    .bar-container:hover, .bar-container:focus {
        /* border: 1px solid var(--primary-color); */
        border-radius: 4px;
    }
    .bar {
        background-color: var(--text-white);
    }
    .bar-container.active .bar:nth-child(2) {
        opacity: 0;
    }
    .bar-container.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .bar-container.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }




    /* About section */
   .about-container {
        padding: 62px 21px;
        display: block;
        height: 56rem;
   }
   .about-tag {
    font-size: 0.9rem;
   }
   .about-item-left {
        width: 100%;
        height: 20rem;
    }
    .about-tagline {
        font-size: 25px;
        line-height: 26px;
    }
    .about-paragraph {
        font-size: 14px;
        line-height: 20px;
    }
    .about-dot-blue, .about-dot-orange {
        display: none;
    }
    .about-image {
        height: 26rem;
        right: 8%;
    }
    .about-orange-box {
        width: 103px;
        height: 6rem;
        top: 761px;
        right: 0;
    }
    .about-blue-box {
        width: 105px;
        height: 105px;
        top: 450px;
        right: 70%;
    }
    .about-container br {
        display: none;
    }

   /* Service section */
   .service-container {
        height: 100rem;
        padding: 35px 25px;
   }
   .service-container br {
    display: none;
   }
   .test-container {
        padding: 35px 25px;
   }
   .service-tag2 {
        font-size: 27px;
   }
   .service-grid {
        display: flex;
        flex-direction: column;
   }
   .service-tag-container {
        margin: 40px 0;
   }
   .service-user, .service-web, .service-biz, .service-software {
        height: 15rem;
        margin-top: 26px;
   }
   .service-biz {
        height: 17rem;
   }
   .biz-img {
        height: 5.9rem;
   }
   .biz-paragraph {
        margin-top: 36px;
   }

   /* Test section */
   .test-container {
      height: 32rem;
   }
   .test-container br {
        display: none;
   }
   .test-tag1 {
      font-size: 14px;
   }
   .test-tag2 {
        font-size: 28px;
        line-height: 33px;
   }
   .test-tag-right {
        display: none;
   }
   .test-card-slide-container {
        display: none;
   }
   /* Mobile Card */
.mobile-test-card-container {
  /* border: 1px solid black; */
  height: 20rem;
  margin-top: 35px;
  display: block;
}
.m-card {
  /* border: 1px solid black; */
  background: var(--text-white);
  height: 17rem;
  width: 100%;
  border-radius: 10px;
  padding: 24px;
  color: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.m-card-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  
}
.m-card-client-info-container {
  margin-top: 49px;
  display: flex;
}
.m-card-client-image {
  border-radius: 50%;
}
.m-card-client-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: center;
}
.m-client-name {
  font-weight: 700;
  font-size: 18px;
}
.cookie-banner-container {
  height: 9rem;
  padding: 1rem;
}
   



}

/*  Tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        padding: 35px 42px;
        height: 38rem;
    }
    .nav-img {
        height: 3rem;
      }
      .nav-menu {
        width: 53%;
        font-size: 13.5px;
      }
      .nav-menu-btn {
        height: 37px;
        width: 109px;
        font-size: 14px;
      }
      .header-tag2 {
        font-size: 2.5rem;
        line-height: 42px;
        margin-top: 13px;
      }
      .header-tag-btn, .about-btn, .service-btn {
        width: 141px;
        height: 45px;
        padding: 10px 26px;
      }

      /* About section */
      .about-container {
        padding: 35px 42px;
        height: 37rem;
      }
      .about-item-left {
        width: 49%;
      }
      .about-tagline br {
        display: none;
      }
      .about-tag {
        font-size: 14px;
      }
      .about-tagline {
        font-size: 28px;
      }
      .about-paragraph {
        font-size: 14px;
        line-height: 22px;
      }
      .about-image {
        height: 28rem;
        right: 3%;
      }
      .about-blue-box {
        top: 19%;
        right: 34%;
      }
      .about-orange-box, .about-blue-box {
        width: 125px;
        height: 120px;
      }
      .about-orange-box {
        top: 72%;
        right: 1%;
      }
      .about-dot-blue {
        height: 5rem;
      }
      .about-dot-orange {
        height: 3rem;
        left: 7%;
      }
    
      /* Service section */
      .service-container {
        padding: 70px 42px;
        height: 52rem;
      }
      .service-grid {
        grid-template-rows: 5rem 15rem 15rem 8rem;
        grid-column-gap: 20px;
      }
      .service-tag1 {
        font-size: 14px;
      }
      .service-tag2 {
        font-size: 24px;
      }
      .grid-image {
        height: 3.4rem;
      }
      .grid-tag {
        font-size: 17px;
        height: 1.5rem;
      }
      .grid-paragraph br {
        display: none;
      }
      .grid-paragraph {
        font-size: 13px;
        height: 9rem;
      }
      .service-biz .grid-tag {
        height: 3rem;
      }
      .biz-img {
        height: 4rem;
      }

      /* Testimonial section */
      .test-container {
        padding: 40px 0 40px 42px;
        height: 33rem;
      }
      .test-tag1 {
        font-size: 14px;
      }
      .test-tag2 {
        font-size: 28px;
      }
      .test-tag-right {
        margin-right: 1rem;
        width: 138px;
      }
      .test-nav-left, .test-nav-right {
        width: 62px;
        height: 57px;
      }
      .card{
        padding: 16px;
        width: 31%;
      }
      .card-paragraph {
        font-size: 14px;
        line-height: 20px;
      }
      .card-client-image {
        height: 3rem;
      }
      .client-name {
        font-size: 14px;
      }
      .card-client-title {
        font-size: 12px;
      }


}

/* Laptop */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    /* Header */
    header {
        padding: 35px 65px;
        height: 41rem;
    }
    .nav-img {
        height: 3rem;
      }
      .nav-menu {
        width: 53%;
        font-size: 13.5px;
      }
      .nav-menu-btn {
        height: 37px;
        width: 109px;
        font-size: 14px;
      }
      .header-tag2 {
        font-size: 2.5rem;
        line-height: 42px;
        margin-top: 13px;
      }
      .header-tag-btn, .about-btn, .service-btn {
        width: 141px;
        height: 45px;
        padding: 10px 26px;
      }


    /* About section */
    .about-container {
        padding: 30px 65px;
    }
    .about-image {
        right: 86px;
        height: 34rem;
    }
    .about-blue-box, .about-orange-box {
        width: 147px;
        height: 145px;
    }
    .about-blue-box {
        top: 99px;
        right: 385px;
    }
    .about-orange-box {
        top: 496px;
        right: 34px;
    }
    .about-tagline {
        font-size: 29px;
    }
    .about-paragraph br {
        display: none;
    }
    .about-btn {
        height: 50px;
    }
    .about-dot-orange {
        left: 68px;
        height: 3.4rem;
    }

    /* Service Section */
    .service-container {
        padding: 69px 65px;
    }
    .service-grid {
        grid-template-rows: 5rem 18rem 18rem 5rem;
        grid-column-gap: 36px;
    }
    .service-tag1 {
        font-size: 15px;
    }
    .service-tag2 {
        font-size: 32px;
    }
    .grid-image {
        height: 4rem;
    }
    .grid-tag {
        height: 4rem;
    }
    .grid-paragraph {
        height: 15rem;
    }
    .service-btn {
        height: 50px;
    }

    /* Test */
    .test-container {
    padding: 40px 0 40px 65px;
    height: 33rem;
  }
  .test-tag1 {
    font-size: 14px;
  }
  .test-tag2 {
    font-size: 32px;
  }
  .test-tag-right {
    margin-right: 1rem;
    width: 138px;
  }
  .test-nav-left, .test-nav-right {
    width: 62px;
    height: 57px;
  }
  .card{
    padding: 22px;
    width: 30%;
  }
  .card-client-info-container {
    margin-top: 42px;
  }
  .card-paragraph {
    font-size: 15px;
    line-height: 20px;
  }
  .card-client-image {
    height: 3rem;
  }
  .client-name {
    font-size: 16px;
  }
  .card-client-title {
    font-size: 12px;
  }


}


