/* Resets */
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Body */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 3rem;
    padding-top: 0;
}

/* CSS Variables */
:root {
    --primary-color: rgb(235, 235, 238);
    --secondary-color: rgb(21, 21, 27);
    --normal-font: ;
    --bold-font: ;
}

------

/* Navigation Section */
nav {
    margin-top: 1rem;

}


/* Header Section */
.flex-header {
    display: flex;
}
.header-div1 {
    
    
}
.header-div1 h2 {
    font-size: 3.2rem;
    margin: 0;
}
.header-div1 p {
    font-size: 1.4rem;
}
img {
    max-width: 90%;
    height: 80%;
    border-radius: 10px;
    padding-top: 2rem;
}
.button {
    margin-bottom: 7rem;
}
button {
    padding: 1rem;
    border-radius: 10px;
    background-color: rgb(165, 112, 42);
    color: var(--primary-color);
}
.div1-contained {
    padding-top: 4rem;
}